<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Feeds</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body class="font-sans bg-gray-200">
    <nav class="flex flex-row-reverse bg-purple-700">
      <span class="text-white text-bold p-2 hover:bg-purple-600 animate cursor-pointer">
        <a href="/logout"> Log Out</a>
      </span>
      <span class="text-white text-bold p-2 hover:bg-purple-600 animate cursor-pointer">
        <a href="/settings"> Settings </a>
      </span>
    </nav>
    <div class="mt-2 m-auto w-1/2">
      <h1 class="text-center text-3xl">Feeds Just Write Something and Others Will See It See What Others Are Also Writing</h1>
    </div>
    <div class="mt-2 m-auto w-1/2 border bg-white p-2">
      <form class="form" method="POST" action="/post">
        <textarea class="border w-full p-4 rounded" style="resize: none" name="post" id="" class="text-area"></textarea>
        <div class="flex flex-row-reverse mt-1">
          <button class="w-auto px-4 py-2 rounded-full border-purple-700 bg-purple-700 hover:bg-purple-800 animate text-bold text-white" type="submit">Post</button>
        </div>
      </form>
    </div>
    <div class="mt-2 w-1/2 m-auto">
        <% posts.forEach((post) => { %>
        <div class="border bg-white mb-2"> 
          <div class="p-2">
              <p class="p-2 bg-gray-100 mb-1"> 
                  <%= post.post %>
                </p>
                <% if(post.comment.length > 0){ %>
                <div class="post">
                  <% var i = 0 %>
                  <p class="p-2 bg-gray-100 ml-3 mb-1">
                    <%=post.comment[0].text%>
                  </p>
                  <% i += 1 %>
                </div>
                <% } %>
                <div class="mt-2 mb-2">
                  <span class="py-1 px-2 bg-indigo-100 rounded-full"><%=post.upvotes%> Up Vote(s)</span>
                  <span class="py-1 px-2 bg-indigo-100 rounded-full"><%=post.downvotes%> Down Vote(s)</span>
                  <span class="py-1 px-2 bg-indigo-100 rounded-full"><%=post.comment.length%> Thought(s)</span>
                </div>
          </div>
          <div class="bg-purple-500">
            <a class="p-1 animate hover:bg-purple-400" href="/upvote/<%=post._id%>"> Up Vote</a>
            <a class="p-1 animate hover:bg-purple-400" href="/downvote/<%=post._id%>"> Down Vote</a>
            <a class="p-1 animate hover:bg-purple-400" href="/reply/<%=post._id%>"> Post a Reply </a>
            <a class="p-1 animate hover:bg-purple-400" href="/viewpost/<%=post._id%>"> View Post </a>
          </div>
        </div>
        <% }) %>
    </div>
  </body>
</html>