<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Feeds Reply</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/style.css" rel="stylesheet">
  </head>
  <body class="bg-gray-200 md:p-0 p-1">
    <nav class="flex flex-row-reverse bg-purple-700 md:text-base text-sm">
      <span class="text-white text-bold p-2 hover:bg-purple-600 animate cursor-pointer">
        <a href="/logout"> Log Out</a>
      </span>
      <span class="text-white text-bold p-2 hover:bg-purple-600 animate cursor-pointer">
          <a href="/"> Feeds </a>
        </span>
      <span class="text-white text-bold p-2 hover:bg-purple-600 animate cursor-pointer">
        <a href="/settings"> Settings </a>
      </span>
    </nav>
    <h1 class="text-center mt-2 md:text-3xl text-xl">Give Your Thought</h1>
    <div class="border bg-white mb-2 md:w-1/2 w-full m-auto">
      <div class="p-2">
        <p class="p-2 bg-gray-100 mb-1">
          <%=postReply.post%> 
        </p>
        <div class="mt-2 md:text-base text-sm">
          <span class="py-1 px-2 bg-indigo-100 rounded-full"><%=postReply.upvotes%> Up Votes</span>
          <span class="py-1 px-2 bg-indigo-100 rounded-full"><%=postReply.downvotes%> Down Votes</span>
          <span class="py-1 px-2 bg-indigo-100 rounded-full"><%=postReply.comment.length%> Thought(s)</span>
        </div>
      </div>
    </div>
    <div class="mt-2 m-auto md:w-1/2 w-full md:text-base text-sm border bg-white md:p-2 p-1">
      <form class="form" method="POST" action="/replypost/<%=postReply._id%>">
        <textarea class="border w-full p-4 rounded" style="resize: none" name="post"></textarea>
        <div class="flex flex-row-reverse mt-1">
            <button class="w-auto px-4 py-2 rounded-full border-purple-700 bg-purple-700 hover:bg-purple-800 animate text-bold text-white" type="submit">Post</button>
          </div>
      </form>
    </div>
  </body>
</html>